{% extends "pholio/layout.html" %}

{% block title %}Pholio{% endblock %}

{% block body %}
    <div class="col-12 p-0 m-0 animated_background d-flex flex-column align-items-center justify-content-center" style="min-height: 92vh;">
        <div class="col-11 col-sm-8 card p-3 shadow d-flex flex-column align-items-center justify-content-center text-center">
            <h3 class="text-primary text-center pt-2">Check your email</h3>
            <div class="text-center mt-3 col-12 col-sm-11 ">
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock %}