{% extends "pholio/layout.html" %}

{% block title %}Pholio - {{data.name}}{% endblock %}

{% block linktitle %}
    <meta property="og:title" content="{{data.name}} | Pholio">
{% endblock %}

{% block body %}
    <div class="col-12 p-0 m-0 mb-5 d-flex flex-column align-items-center">
        <div class="col-12 animated_background d-flex align-items-center justify-content-center" style="height: 40vh; border-bottom-right-radius: 2em; border-bottom-left-radius: 2em;">
            <div class="col-12 p-0 m-0 d-flex flex-column align-items-center justify-content-center">
                <div class="main-headings col-12 pl-0 pr-0 d-flex flex-fill flex-column align-items-center justify-content-center" style="height: 40vh;">
                    <div class="text-center">
                        <h1 class="text-light font-weight-bold  profile-name mb-3">{{data.name}}</h1>
                        {% if data.title %}
                            <h2 class="text-light title-text text-center p-sm-0 mt-4 mb-4">{{data.title}}</h2>
                        {% elif not data.title and data.email == request.user.username %}
                            <p class="text-light title-text text-center p-sm-0 mt-4 mb-4 h5">Click <a class="text-warning" href="user/profile" style="text-decoration: none; cursor: pointer;">here</a> to add title.</p>
                        {% endif %}
                    </div>
                </div>
                {% if socials.github or socials.linkedin or socials.twitter %}
                <div class="social-buttons col-12 col-sm-4 d-flex flex-row justify-content-around align-items-center" style="z-index: 99; position: absolute; bottom: 0; height: 0vh;">
                    {% if socials.github %}
                    <a class="social icon-button btn-lg rounded-circle icon" target="_blank" href="{{socials.github}}">
                        <i class="fab fa-github social-icon icon-circle" aria-hidden="true"></i><span></span>
                    </a>
                    {% endif %}
                    {% if socials.linkedin %}
                    <a class="social icon-button btn-lg rounded-circle icon" target="_blank" href="{{socials.linkedin}}">
                        <i class="fa fa-linkedin social-icon icon-circle" aria-hidden="true"></i><span></span>
                    </a>
                    {% endif %}
                    {% if socials.twitter %}
                    <a class="social icon-button btn-lg rounded-circle icon" target="_blank" href="{{socials.twitter}}">
                        <i class="fa fa-twitter social-icon icon-circle" aria-hidden="true"></i><span></span>
                    </a>
                    {% endif %}
                </div>
                {% elif not socials.github and not socials.linkedin and not socials.twitter and data.email == request.user.username %}
                    <a href="user/profile" class="btn btn-warning btn-lg font-weight-bold title-text text-center rounded-pill ml-auto mr-auto"><i class="fas fa-plus-circle"></i>&nbsp&nbspSocials</a>
                {% endif %}
            </div>
        </div>

<!-- ABOUT Toggle -->
        
    {% if sections.about %}
        {% include "./components/about_comp.html" with data=data %}
    {% endif %}

<!-- EXPERIENCE Toggle -->

    {% if sections.experience %}
        {% include "./components/experience_comp.html" with experiences=experiences %}
    {% endif %}

<!-- PROJECTS Toggle -->

    {% if sections.projects %}
        {% include "./components/projects_comp.html" with projects=projects %}
    {% endif %}

<!-- EDUCATION Toggle -->

    {% if sections.education %}
        {% include "./components/education_comp.html" with education=education %}
    {% endif %}

<!-- SKILLS Toggle -->
    
    {% if sections.skills %}
        {% include "./components/skills_comp.html" with skills=skills %}
    {% endif %}

<!-- CERTIFICATIONS Toggle -->
    
    {% if sections.certifications %}
        {% include "./components/certi_comp.html" with certifications=certifications %}
    {% endif %}

    </div> <!-- End of all views -->
{% endblock %}